@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.background-image {
    background-image: url('https://hips.hearstapps.com/hmg-prod/images/accepts-the-best-r-b-song-award-for-snooze-onstage-during-news-photo-1707161330.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* This makes the background static */
    background-size: cover; /* Ensures the image covers the entire section */
}