@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.background-image {
    background-image: url('https://s3-us-west-1.amazonaws.com/wass-media-library/music_artists/sza-20241109.jpg');
    background-position: center center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed; /* Make the background static */
    background-size: cover; /* Ensure the image covers the entire screen */
    min-height: 100vh; /* Ensure the background covers the full viewport height */
    width: 100%; /* Ensure the background covers the full viewport width */
}
